.clear{ display: block; clear: both; visibility: hidden; line-height: 0; height: 0; zoom: 1; }
.clearfix{ zoom: 1; }
.clearfix:after{ content: " "; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }

.tourmaster-media-image{ line-height: 0; }

.tourmaster-admin-option-wrapper{ box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.tourmaster-admin-option-wrapper *,
.tourmaster-admin-option-wrapper *:before, 
.tourmaster-admin-option-wrapper *:after { box-sizing: inherit; -moz-box-sizing: inherit; -webkit-box-sizing: inherit; }

.tourmaster-admin-option-wrapper{ font-family: 'Montserrat', sans-serif; margin: 50px 30px; width: 920px; overflow: hidden; line-height: 1.7; }
.tourmaster-admin-option-left-column{ width: 220px; float: left; }
.tourmaster-admin-option-right-column{ overflow: hidden; }

/* theme option head area */
.tourmaster-admin-option-head{ background: url('../images/plugin-option-head-background.png') right top no-repeat #22232d; }
.tourmaster-admin-option-head-nav{ position: relative; }
.tourmaster-admin-option-head-nav .tourmaster-admin-option-logo{ text-align: center; height: 100px; padding: 36px 0px 35px; background: rgba(255, 255, 255, 0.06); }
.tourmaster-admin-option-head-nav .tourmaster-admin-option-logo img{ max-width: 130px; }	
.tourmaster-admin-option-head-nav .tourmaster-admin-option-nav{ position: relative; }
.tourmaster-admin-option-head-nav .tourmaster-admin-option-nav-slides { width: 0; position: absolute; top: 0px; bottom: 0px; 
    background: #000; background: rgba(0,0,0,0.3); border-bottom: 3px solid #4692b7; }
.tourmaster-admin-option-head-nav .tourmaster-admin-option-nav-item{ width: 115px; height: 100px; padding: 27px 0px; 
	float: left; text-align: center; cursor: pointer; position: relative; }
.tourmaster-admin-option-head-nav .tourmaster-admin-option-nav-item-title{ font-weight: bold; font-size: 11px; text-transform: uppercase; color: #fff; }	
.tourmaster-admin-option-head-nav .tourmaster-admin-option-nav-item-icon{ margin-bottom: 8px; }
.tourmaster-admin-option-head-nav .tourmaster-admin-option-nav-item-icon img{ max-width: 20px; }
.tourmaster-admin-option-head-nav .tourmaster-admin-option-save-button{ font-size: 10px; font-weight: bold; padding: 7px 14px 6px;
	background: #51b66d; color: #ffffff; cursor: pointer; text-transform: uppercase;
	position: absolute; right: 20px; top: 50%; margin-top: -15px;
	border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.tourmaster-admin-option-head-nav .tourmaster-admin-option-save-button.tourmaster-now-loading{ color: transparent;
	background-image: url('../images/loading-save.gif'); background-position: center; background-repeat: no-repeat; }
	
.tourmaster-admin-option-head-sub{ background: #000; background: rgba(0, 0, 0, 0.14); }
.tourmaster-admin-option-head-sub .tourmaster-admin-option-head-breadcrumbs{ float: left; font-size: 11px; color: #aeb3cc; padding: 16px 25px; cursor: default; }
.tourmaster-admin-option-head-sub .tourmaster-admin-option-head-breadcrumbs-sep{ margin: 0px 15px; }
.tourmaster-admin-option-head-sub .tourmaster-admin-option-head-search{ float: right; padding: 14px 0px;
	background: #000; background: rgba(0, 0, 0, 0.4); position: relative; }
.tourmaster-admin-option-head-sub .tourmaster-admin-option-head-search-text{ background: transparent; color: #aeb3cc; 
	border: none; font-size: 12px; outline: none; margin: 0px; width: 260px; padding: 0px 48px 0px 25px;
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
.tourmaster-admin-option-head-sub .tourmaster-admin-option-head-search-text::-webkit-input-placeholder{ font-size: 12px; } 
.tourmaster-admin-option-head-sub .tourmaster-admin-option-head-search-text:-moz-placeholder{ font-size: 12px; }
.tourmaster-admin-option-head-sub .tourmaster-admin-option-head-search-text::-moz-placeholder{ font-size: 12px; }
.tourmaster-admin-option-head-sub .tourmaster-admin-option-head-search-text:-ms-input-placeholder{ font-size: 12px; }	
	
.tourmaster-admin-option-head-sub .tourmaster-admin-option-head-search-text:focus{ outline: none; border: none;
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
.tourmaster-admin-option-head-sub .tourmaster-admin-option-head-search-button{ position: absolute; right: 15px; top: 50%; cursor: pointer;
	margin-top: -8px; border: none; width: 17px; height: 17px; background: url('../images/magnifier.png') center no-repeat; }
.tourmaster-admin-option-head-sub .tourmaster-admin-option-head-search-button:focus{ outline: none; border: none; 
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
	
/* theme option body area */
.tourmaster-admin-option-body .tourmaster-admin-option-subnav{ background: #2e2f39; padding-bottom: 9999px; margin-bottom: -9998px; }
.tourmaster-admin-option-body .tourmaster-admin-option-subnav-item{ font-size: 13px; cursor: pointer;
    padding: 16px 26px 15px; border-bottom: 1px solid #2e2f39; background: #262730; color: #c7cae0;
	transition: background-color 300ms; -moz-transition: background-color 300ms; 
	-o-transition: background-color: 300ms; -webkit-transition: background-color 300ms; }
.tourmaster-admin-option-body .tourmaster-admin-option-subnav-item.tourmaster-active,
.tourmaster-admin-option-body .tourmaster-admin-option-subnav-item:hover{ background: #353641; }
.tourmaster-admin-option-body .tourmaster-admin-option-subnav-item:before{ content: "\f0da"; font-family: fontAwesome; margin-right: 12px; }

.tourmaster-admin-option-body .tourmaster-admin-option-body-content{ background: #ffffff; padding-bottom: 9999px; margin-bottom: -9998px; } 
.tourmaster-admin-option-body .tourmaster-admin-option-body-content.tourmaster-now-loading{ background-repeat: no-repeat;
	background-image: url('../images/loading-content.gif'); background-position: center 150px; } 
.tourmaster-admin-option-body .tourmaster-admin-option-body-content-save{ padding: 30px; }
.tourmaster-admin-option-body .tourmaster-admin-option-save-button{ font-size: 11px; font-weight: bold; padding: 13px 22px; letter-spacing: 0.8px;
	background: #51b66d; color: #ffffff; cursor: pointer; text-transform: uppercase; display: inline-block;
	border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.tourmaster-admin-option-body .tourmaster-admin-option-save-button.tourmaster-now-loading{ color: transparent;
	background-image: url('../images/loading-save.gif'); background-position: center; background-repeat: no-repeat; }	
.tourmaster-admin-option-body .tourmaster-admin-option-section{ display: none; }
.tourmaster-admin-option-body .tourmaster-admin-option-section.tourmaster-active{ display: block; }
.tourmaster-admin-option-body .tourmaster-admin-option-search-not-found { padding: 40px 30px; margin: 30px 30px;
	background: #f5f5f5; color: #a6a6a6; text-align: center;font-size: 13px; }
.tourmaster-admin-option-body .tourmaster-admin-option-search-not-found .tourmaster-head{ margin-bottom: 6px; }